* {margin: 0; padding: 0;}

body {
    background-color: rgba(0, 0, 0, 0.911);
  
}

header {
    
    height: 90vh;
}

#tituloVideo {
    margin: auto;
    position: relative;
    margin-top: 250px;
    margin-left: 15%;
    color: white;
}

#video {
   margin: auto;
   position: relative;
   margin-left: 28%;
}

#imagem {
    margin: auto;
    margin-top: 150px;
}

#integrantes {
    margin-top: 550px;
}

#roteiro {
    margin: auto;
    margin-top: 350px;
    color: white;
}

#rodape {
    color: white;
}

#integrantesEquipe {
    color: white;
    margin: auto;
    position: relative;
    margin-left: 40%;
    margin-top: 150px;
}

#nav {
    position: sticky;
    top: 0;
}

html {
    scroll-behavior: smooth;
  }

